<ion-card>
  <ion-card-header>
    <ion-card-subtitle>
      <img
        src={{linkImagem}}
      />
    </ion-card-subtitle>
    <ion-card-title
      >{{nome}}</ion-card-title
    >
  </ion-card-header>
  <ion-card-content>
    <p>
      {{resumo}}
    </p>
    <br />
    <!-- <p><strong>Banco do Brasil</strong></p>
    <ion-grid>
      <ion-row>
        <ion-col size="11">
          <p>Agência: 3599-8</p>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="copy-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="11">
          <p>Conta-Corrente: 430783-6</p>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="copy-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p><strong>Banco Bradesco</strong></p>
    <ion-grid>
      <ion-row>
        <ion-col size="11">
          <p>Agência: 1228-9</p>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="copy-outline"></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="11">
          <p>Conta-Corrente: 12000-6</p>
        </ion-col>
        <ion-col size="1">
          <ion-icon name="copy-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid> -->
    <br />
    <a href={{linkSite}}>Acesse o site</a>
  </ion-card-content>
</ion-card>