<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Campos Missionários </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Campos Missionários</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container" *ngFor="let item of organizacoes">
    <app-card-conteudo
      [linkImagem]="item.linkImagem"
      [nome]="item.nome"
      [resumo]="item.resumo"
      [linkSite]="item.linkSite">
    </app-card-conteudo>
  </div>
</ion-content>
